/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 #the-member-list .vers {
    padding-left: 1em;
}

.td-lable{
font-weight: bold;
}

.border-top{
border-top: 1px solid #dcdcde;
}

.member-view .form-table td {
    padding: 8px 10px;
}
