/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 #the-member-list .vers , #members-filter .vers, #member_edit .vers, #member_view .vers{
    padding-left: 1em;
    text-decoration: none;
}

.member_list a, #member_edit a{
    text-decoration: none;

}

.td-lable{
font-weight: bold;
}

.border-top{
border-top: 1px solid #dcdcde;
}

.member-view .form-table td {
    padding: 8px 10px;
}

/* .welcome-panel{
    background: none;
} */

/* #member_edit .postbox, #member_view .postbox {
     margin-bottom: 1px;
} */

#member_edit #dashboard-widgets .meta-box-sortables {
  margin: 0 8px 3px;
}

/* .welcome-panel .welcome-panel-column-container {
    grid-template-columns: repeat(2,1fr) !important;
    padding: 25px;
    background: none;
} */

.container-column{
    background-color: #ffffff;
    padding: 2em;
}

error{
    color :rgb(228, 5, 35);
}

#alertMessage{
  text-align: center;
    color: green;
    font-size: 1.5em;
}

.form-table td {
    padding: 7px 10px;
}

#heading{
    text-align: center;
}

.form-table th {
    padding: 10px 13px 16px 11px;
}

/* .loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */

  /* #loading { display: none; } */
.edit-postbox {
    width: Auto !important;
}

.csvBtn{
    transform: translate(940%, -120%);
    position: absolute;
}

.min-h{
    min-height: 1px !important;
}

.out-red td, .out-red td a{
/* outline: thin solid red; */
color : red !important;
}

.lds-dual-ring {
    display: inline-block;
    /* width: 80px;
    height: 80px; */
    margin: 0px 2px 0px 13px 
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    /* margin: 8px; */
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #3498db transparent #3498db transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .required:after {
    content:" *";
    color: red;
  }


 #alertPartnerNotFound{
    text-align: center;
    font-style: italic;
    color: red;
  }
  
